/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app-logo {
    width: 40px; /* Ajuste conforme necessário */
    height: auto;
}

h1 {
    font-size: 36px;
    font-family: boxigen;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    color: #777;
    margin-top: 5px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}
